* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    background-color: rgb(218, 218, 218);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: rgb(48, 48, 48);
}

.text h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.text h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
   /* border-style: solid; */
   /* border-color: black;*/
}

@media only screen and (max-width: 600px) {
    .text {
        margin-top: 70px;
    }
    #grid {
        margin-top: 50px;
    }
    .grid {
      width: 450px;
      height: 450px;
    }
    .square {
        height: 150px;
        width: 150px;
    }
  }

.mole {
    background-image: url('mole.jpeg');
    background-size: cover;
    mix-blend-mode: multiply;
}
